@using System.Web.Optimization
@using umbraco.BusinessLogic
@using umbraco.cms.businesslogic.member
@using umbraco.cms.businesslogic.web
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    User user = umbraco.BusinessLogic.User.GetCurrent();
    string gymnastId = Request.QueryString["gymnastid"];
    string memberId = Request.QueryString["memberid"];
}
<!DOCTYPE html>
<html>
<head>
    @RenderSection("head", required: false)
    <title>@ViewBag.Title</title>
    @Styles.Render("~/css/all")
    @RenderSection("css", required: false)
    @Scripts.Render("~/scripts/modernizr")
</head>
    <body>
        <div class="container">
            <div class="header">
                <ul>
                    <li class="tabOn"><a href="#"><span>@ViewBag.Title</span></a></li>
                </ul>
                <div class="top">
                </div>
            </div>
            <div class="title">
                <div class="dropdown pull-right">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#"  href="#" >
                        Metafitness
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="SetPage('dashboard', @gymnastId, @memberId);">Dashboard</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="SetPage('gymnast', @gymnastId, @memberId);" >Gymnast</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="SetPage('measurement', @gymnastId, @memberId);">Measurement</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="SetPage('workout', @gymnastId, @memberId);">Workout</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="SetPage('chat', @gymnastId, @memberId);">Chat</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="SetPage('topic', @gymnastId, @memberId);">Topic</a></li>
                    </ul>
                </div>

               
            </div>
            <div>
                <div class="container-fluid" style="overflow-y: scroll; overflow-x: hidden; padding: 0 0 0 10px; height: 900px; width: auto;">
                    <div class="content tabpagescrollinglayer row-fluid" id="tabSection">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="left">
            </div>
            <div class="right">
            </div>
        </div>
        @Scripts.Render("~/scripts/jquery", "~/scripts/jqueryui", "~/scripts/all")
        @RenderSection("script", required: false)
    </body>
</html>
<script type="text/javascript">
    function SetPage(view, gymnastid, memberid) {

        if (view == "dashboard") {
            parent.right.document.location.href = '/dashboard.aspx?gymnastid=' + gymnastid + '&memberid=' + memberid;
        } else {
            parent.right.document.location.href = '/template.aspx?view=' + view + '&gymnastid=' + gymnastid + '&memberid=' + memberid;     
        }
    }

    $(document).ready(function () {
        $('.bootstraptooltip').tooltip();
    });
</script>