@using System.Web.Optimization
@using umbraco.cms.businesslogic.member
@using umbraco.cms.businesslogic.web
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
    <head>
        @RenderSection("head", required: false)
        <title>@ViewBag.Title</title>
        @Styles.Render("~/css/all", "~/css/section")
        @RenderSection("css", required: false)
        @Scripts.Render("~/scripts/modernizr")
    </head>
    <body>
        <header>
        </header>
        <div id="body">
            @RenderBody()
        </div>
        <footer>
        </footer>
        @Scripts.Render("~/scripts/jquery", "~/scripts/jqueryui", "~/scripts/all", "~/scripts/section")
        @RenderSection("script", required: false)
    </body>
</html>