@using System.Web.Optimization
@using umbraco.cms.businesslogic.member
@using umbraco.cms.businesslogic.web
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @RenderSection("head", required: false)
    <title>@ViewBag.Title</title>
    @Styles.Render("~/css/all")
    @RenderSection("css", required: false)
    @Scripts.Render("~/scripts/modernizr")
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/scripts/jquery", "~/scripts/jqueryui", "~/scripts/all")
    @RenderSection("script", required: false)
</body>
</html>
