@using umbraco.cms.businesslogic.member
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Section.cshtml";

    int Id = int.Parse(Request.QueryString["id"]);
    Member member = new Member(Id);

    Account account = new Account
    {
        Id = member.Id,
        Name = member.Text,
        Email = member.Email,
        LoginName = member.LoginName,
        Gender = UmbracoCustom.PropertyValue(UmbracoType.Gender, member.getProperty("gender")),
        City = member.getProperty("city").Value.ToString(),
        State = member.getProperty("state").Value.ToString(),
        Country = member.getProperty("country").Value.ToString(),
        ZipCode = member.getProperty("zipCode").Value.ToString(),
        Address = member.getProperty("address").Value.ToString(),
        Phone = member.getProperty("phone").Value.ToString(),
        IsActive = Convert.ToBoolean(Convert.ToInt32(member.getProperty("isActive").Value)),
        Facebook = member.getProperty("facebook").Value.ToString(),
        Twitter = member.getProperty("twitter").Value.ToString(),
        Google = member.getProperty("google").Value.ToString(),
        Gymnast = Convert.ToInt32(member.getProperty("gymnast").Value)
        //Trainer = Convert.ToInt32(member.getProperty("trainer").Value)
    };
}

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">User Information</a></li>
        <li><a href="#tabs-2">Social Media</a></li>
        <li><a href="#tabs-3">Gymnast Information</a></li>
    </ul>
    <div id="tabs-1">
        <div class="form-horizontal" style="font-size: 11px;">
            <div class="control-group">
                <label class="control-label" for="name">
                    Name</label>
                <div class="controls">
                    <span class="input-large uneditable-input"  id="name">@account.Name</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="email">
                    Email</label>
                <div class="controls">
                    <span class="input-large uneditable-input"  id="email">@account.Email</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="gender">
                    Gender</label>
                <div class="controls">
                    <span class="input-large uneditable-input"  id="gender">@account.Gender</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="city">
                    City</label>
                <div class="controls">
                    <span class="input-large uneditable-input"  id="city">@account.City</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="state">
                    State</label>
                <div class="controls">
                    <span class="input-large uneditable-input"  id="state">@account.State</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="country">
                    Country</label>
                <div class="controls">
                    <span class="input-large uneditable-input"  id="country">@account.Country</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="zipcode">
                    Zip Code</label>
                <div class="controls">
                    <span class="input-large uneditable-input"  id="zipcode">@account.ZipCode</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="address">
                    Address</label>
                <div class="controls">
                    <textarea id="address" name="Address" placeholder="Address" rows="8" cols="40"
                              class="uneditable-textarea" >@account.Address</textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="phone">
                    Phone</label>
                <div class="controls">
                    <span class="input-large uneditable-input"  id="phone">@account.Phone</span>
                </div>
            </div>
            @*<div class="control-group">
                                <label class="control-label" for="photo">
                                    Photo</label>
                                <div class="controls">
                                    <img src="@photo.Value" alt="@photo.Id"  id="photo"/>
                                    @*<input type="file" name="Photo"  />
                                </div>
                            </div>*@
        </div>
    </div>
    <div id="tabs-2">
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="facebook">
                    Facebook</label>
                <div class="controls">
                    <span class="input-large uneditable-input"  id="facebook">@account.Facebook</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="twitter">
                    Twitter</label>
                <div class="controls">
                    <span class="input-large uneditable-input"  id="twitter">@account.Twitter</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="google">
                    Google</label>
                <div class="controls">
                    <span class="input-large uneditable-input"  id="google">@account.Google</span>
                </div>
            </div>
        </div>
    </div>
    <div id="tabs-3">
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="gymnast">
                    Gymnast</label>
                <div class="controls">
                    <span class="input-large uneditable-input"  id="gymnast">@account.Gymnast</span>
                </div>
            </div>
            @*<div class="control-group">
                                <label class="control-label" for="Email">
                                    Trainer</label>
                                <div class="controls">
                                    <span class="input-large uneditable-input"  id="lblTrainer"></span>
                                </div>
                            </div>*@
        </div>
    </div>
</div>
@section script
{
    <script type="text/javascript">
        $(function () {
            $("#tabs").tabs();
        });
    </script>
}
@section css
{
    <style type="text/css">
        html, body
        {
            margin: 0;
            padding: 0;
            font-size: 80%;
            font-family: Verdana;
            background-color: #ffffff;
        }
        
        label, .controls span {
            font-size: 8pt;
        }
    </style>
}
